.imageBackdrop {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.781);
  background-color: var(--dropdown);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigImageWrapper {
  position: relative;
  height: 714px;
  max-width: 1200px;
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.imageWrapper {
  backdrop-filter: blur(10px);
  background-color: rgba(21, 21, 21, 0.678);
  background-color: var(--dropdown-theme);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  object-fit: contain;
}
.imageWrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.infoWrapper {
  position: relative;
  max-width: 600px;
  width: 50%;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  padding: 67px 64px 45px 58px;
}
.infoWrapper__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.infoAuthor {
  display: flex;
  margin-bottom: 32px;
}
.infoAuthor__inner {
  display: flex;
  flex-direction: column;
}
.infoAuthor__inner p {
  margin: 0;
}
.infoDescription {
  flex: 1;
  font: bold 18px Sen;
  color: var(--text-color);
  margin-bottom: 32px;
}
.infoStatistics {
  display: flex;
  border-bottom: 1px solid #adadad;
}
.infoStatistics p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 32px;
}
.infoStatistics svg {
  font-size: 20px;
  margin-right: 10px;
}
.infoCamera {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.infoCamera div {
  margin-top: 32px;
  margin-right: 32px;
}
.favouriteButton {
  width: 50px;
  height: 50px;
  margin-left: auto;
  font-size: 22px;
}
.sectionName {
  text-align: left;
  font: bold 12px Sen;
  margin-bottom: 6px;
  letter-spacing: 0px;
  color: var(--text-color);
}
.innerName {
  color: var(--accent);
  text-align: left;
  font: bold 24px Sen;
  letter-spacing: 0px;
  color: #118dba;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .imageBackdrop {
    z-index: 1;
  }
  .imageWrapper {
    display: flex;
  }
  .imageWrapper img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    flex-shrink: 0;
    -ms-interpolation-mode: bicubic;
  }
  .infoDescription {
    flex: none;
  }
}
@media screen and (min-width: 1600px) and (min-height: 900px) {
  .bigImageWrapper {
    height: 900px;
    max-width: 1600px;
  }
  .imageWrapper {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .descriptionP {
    max-height: 265px;
  }
}
@media screen and (max-width: 768px) {
  .infoDescription {
    font: bold 14px Sen;
  }
  .bigImageWrapper {
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
  }
  .imageWrapper {
    width: 100%;
    margin: 0 auto;
    max-height: 70%;
    position: relative;
  }
  .infoWrapper {
    position: static;
    border-top: 2px solid var(--accent);
    max-width: 100%;
    width: 100%;
    min-height: 30%;
    overflow-y: scroll;
    padding: 10px;
    flex: 1;
  }
}
