.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}
.closeButton:before,
.closeButton:after {
  left: 45%;
  top: -4px;
  position: absolute;
  content: " ";
  height: 32px;
  width: 2px;
  background-color: #717171;
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}
.btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 0;
}

.favouriteButton {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #118dba;
  background-color: var(--accent);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.navButton {
  background-color: var(--background-color-primary);
  color: var(--text-color);
  background-color: transparent;
  height: 80px;
  width: 100%;
  border: none;
  transition-duration: 300ms;
  cursor: pointer;
  font-size: 24px;
}
.selected {
  background-color: #118dba;
  background-color: var(--accent);
  color: white;
}
@media screen and (max-width: 768px) {
  .closeButton:before,
  .closeButton:after {
    background-color: #118dba;
    background-color: var(--accent);
    width: 3px;
  }
}
