.imageWrapper {
  position: relative;
  cursor: pointer;
}
.imageWrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 68, 68);
}
.landscape {
  height: 180px;
}
.portrait {
  height: 340px;
}
.favBtnPosition {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 416px) {
  .landscape {
    height: 210px;
  }
  .portrait {
    height: 400px;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .imageWrapper img {
    overflow: hidden;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .imageWrapper {
    overflow: hidden;
  }
  .favBtnPosition {
    z-index: 1;
  }
}
