.gallery {
  grid-gap: 25px;
  margin-left: 110px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.seperator {
  margin-bottom: 25px;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
}
.errorMsg {
  text-align: center;
  color: var(--text-color);
  font-size: 26px;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  .gallery {
    margin: 20px 20px 20px 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 416px) {
  /* .cardsWrapper {
    max-height: 640px;
  } */
  .gallery {
    grid-template-columns: none;
  }
  .seperator {
    margin-bottom: 20px;
  }
  .gallery {
    grid-gap: 20px;
  }
}
