.container {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  display: flex;
  position: relative;
}
.containerDark {
  background-color: rgb(24, 24, 24);
}
.containerLight {
  background-color: #ffffff;
}
.appdark {
  background-color: rgb(24, 24, 24);
}
.applight {
  background-color: #ffffff;
}
.gallery {
  grid-gap: 25px;
  margin-left: 110px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.seperator {
  margin-bottom: 25px;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
}
.errorMsg {
  text-align: center;
  color: #ffffff;
  font-size: 26px;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  .gallery {
    margin: 20px 20px 20px 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 416px) {
  .cardsWrapper {
    max-height: 640px;
  }
  .seperator {
    margin-bottom: 20px;
  }
  .gallery {
    grid-gap: 20px;
  }
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .cardsWrapper {
    max-height: 550px;
    max-width: 270px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
