.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}
.closeButton:before,
.closeButton:after {
  left: 45%;
  top: -4px;
  position: absolute;
  content: " ";
  height: 32px;
  width: 2px;
  background-color: #717171;
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}
.btn {
  border: none;
}
@media screen and (max-width: 768px) {
  .closeButton:before,
  .closeButton:after {
    background-color: var(--accent);
    width: 3px;
  }
}
