.navbar {
  background-color: var(--background-color-secondary);
  width: 90px;
  position: fixed;
  display: flex;
  height: 100vh;
  transition-property: transform;
  transition-duration: 300ms;
  z-index: 1;
}
.logo {
  margin-top: 30px;
  fill: var(--text-color);
}

.navWrapper {
  width: 100%;
  margin: auto 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonWrapper {
  width: 100%;
}

.navButtons {
  height: 80px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--themeSecondary);
}

.bottomButtons {
  margin-bottom: 40px;
}

.navButtons svg {
  font-size: 24px;
}

.selected {
  background-color: var(--accent);
  color: var(--light-0);
}

.show {
  transform: translateX(0px);
}

.hide {
  transform: translateX(-80px);
}

@media screen and (max-width: 768px) {
}
