:root {
  --themePrimary: #151515;
  --themeSecondary: #242424;
  --dropdown: #151515cc;
  --secondaryDropdown: #0f0f0fd8;
  --accent: ##118dba;
  --speed: 500ms;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: white;
}
* {
  box-sizing: border-box;
}
