.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  position: relative;
  background-color: rgb(24, 24, 24);
}

.main {
  margin: 2rem auto;
  max-width: 1450px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  justify-content: center;
}
.seperator {
  /* flex: 4; */
  margin-bottom: 25px;
}
/* .flex1 {
  flex: 1;
} */
.landscape {
  height: 140px;
}
.portrait {
  height: 275px;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .cardsWrapper {
    margin-right: 25px;
    margin-bottom: 25px;
  }
}

/* .landscape img {
  object-fit: cover;
}
.portrait img {
  object-fit: cover;
} */
.cardsWrapper {
  max-height: 440px;
  width: 220px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
