.container {
  margin: 0 auto;
  max-width: 1600px;

  min-height: 100vh;
  flex: 1;
  display: flex;
  position: relative;
}
.containerDark {
  background-color: rgb(24, 24, 24);
}
.containerLight {
  background-color: #ffffff;
}
.gallery {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  margin-left: 110px;
  margin-top: 25px;
}
.seperator {
  margin-bottom: 25px;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .cardsWrapper {
    margin-right: 25px;
    margin-bottom: 25px;
  }
}
.cardsWrapper {
  max-height: 550px;
  max-width: 270px;
  width: 100%;
}
.applight {
  background-color: #ffffff;
}
.appdark {
  background-color: rgb(24, 24, 24);
}
@media screen and (max-width: 310px) {
}
@media screen and (max-width: 768px) {
  .gallery {
    margin: 20px;
    justify-content: center;
  }
}
