.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  position: relative;
  background-color: rgb(24, 24, 24);
}
.gallery {
  max-width: 1450px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 25px;
  margin-left: 100px;
  margin-top: 25px;
}
.navbar {
  width: 80px;
  background-color: azure;
  position: fixed;
  height: 100vh;
  display: flex;
}
.navWrapper {
  margin: auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  transition-duration: 300ms;
  cursor: pointer;
  margin-bottom: 20px;
}
.navbar button:hover {
  background-color: rgb(73, 73, 73);
  color: white;
}
.seperator {
  margin-bottom: 25px;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .cardsWrapper {
    margin-right: 25px;
    margin-bottom: 25px;
  }
}
.cardsWrapper {
  max-height: 550px;
  width: 270px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
